* {
  box-sizing: border-box;
}

body, html, #app, #quiz {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  background: black;
}

.question {
  width:100%;
  height: 100%;
  background: transparent;
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  grid-template-rows: 33% auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  background-position: center;
}

.text {
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  text-align: center;
}



.continue {
  grid-column: span 1;
  grid-row: span 1;
  grid-column-end: -1;
  grid-row-end: 7;
  color: rgb(211,211,211);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.continue:hover {
  cursor: pointer;
  color: white;
}
.continue span {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.3);
  padding: 5px 10px 5px 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.continue span:hover {
  background: rgba(0,0,0,0.5);
}


@media (min-width: 700px) {
  .question {
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  }
  .text {
    grid-column: span 2;
  }
  .continue {
    grid-row-end: 5;
  }
}

/* let the text be in the middle */
.text span, .answer span, .continue span {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.answer {
  border-radius: 10px;
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgba(255,255,255,0.3);
  background-opacity: 0.7;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid transparent;
}
.answer:hover {
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
}
.answer.selected {
  border: 1px solid white;
}
.answer.correct {
  background-color: rgba(0, 188, 0, 0.6)
}

.result {
  grid-row-start: 2;
}